@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-court-bg text-slate-100 antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #31405c #111827;
}
